<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CafeLux</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>CafeLux</display-name>
    <servlet-name>CafeLux</servlet-name>
    <servlet-class>by.htp.cafelux.controller.CafeLux</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CafeLux</servlet-name>
    <url-pattern>/CafeLux</url-pattern>
  </servlet-mapping>
</web-app>